package templates

import "github.com/alfiehiscox/alfiesacoder/services"

templ Article(article services.Article) {
	@Base(article.Title) {
		<main class="w-1/2 prose">
			<h1>{ article.Title }</h1>
			@templ.Raw(article.Content)
		</main>
	}
}
