package templates 

import "github.com/alfiehiscox/alfiesacoder/services"

templ Project(project services.Project) {
	@Base(project.Name) {
		<main class="w-1/2">
			<h1 class="text-lg">{ project.Name }</h1>
			@templ.Raw(project.Content)
		</main>
	}
}
